# Realm 1
REALM_1_DOMAIN=example.com
REALM_1_CLIENT_ID=
REALM_1_SECRET=

# Realm 2 (optional, remove if not needed)
REALM_2_DOMAIN=contoso.com
REALM_2_CLIENT_ID=
REALM_2_SECRET=

# Client 1
CLIENT_1_NAME=PFSense
CLIENT_1_NETWORK=172.28.0.4/32
CLIENT_1_SECRET=

# Client 2 (optional, remove if not needed)
CLIENT_2_NAME=AccessPoint
CLIENT_2_NETWORK=10.0.0.0/24
CLIENT_2_SECRET=
